<form class="example-form">
  <br>
  <h2> Log In </h2>
  <div>
    <mat-form-field class="example-full-width">
      <input [(ngModel)] = "email" name = "email" matInput placeholder="Email">
      <mat-hint>your Email</mat-hint>
    </mat-form-field>
  </div>

  <div class="error" *ngIf="code == 'auth/invalid-email'">
    {{message}}
  </div>
  <div class="error" *ngIf="code == 'auth/user-not-found'">
    {{message}}
  </div>
  <div>
    <mat-form-field class="example-full-width">
      <input [(ngModel)] = "password" name = "password" type = "password" matInput placeholder="Password">
      <mat-hint>your password</mat-hint>
    </mat-form-field>
  </div>
  
  <div class="error" *ngIf="code == 'auth/wrong-password'">
    {{message}}
  </div>
  <button mat-stroked-button (click)="login()" [disabled]="!email || !password" >
    Log In
  </button>
</form>