<mat-card class="example-card">
  <mat-card-content>
    <button (click) = "toSignUp()">
      Sign Up
    </button>-

    <button (click) = "toLogin()" *ngIf="!(authService.user | async)">
      login
    </button>  
    <button (click) = "toLogout()" *ngIf="(authService.user | async)">
      Log Out
    </button>
    <button (click) = "toWelcome()">
      Welcome
    </button>
   
  </mat-card-content>
</mat-card>

